/* font family
	============================================================================================ */
$font-family-sans-serif: 'Fira Sans', sans-serif;
$text-size: 16px;
$line-height: 1.65;


/* color variables
	============================================================================================ */
//@import "../../../node_modules/bootstrap/scss/variables";
//
//$title-color: $secondary;
//$text-color: $body-color;
//
$primary-color: yellow;
//$link-color: $body-color;
//
//$white: #F2F2F4;
//
//$gradientColor1: $secondary;
//$gradientColor2: $secondary;
// $black: #222222;
// $soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');


